# Your PRIVATE SSH key contents (the whole -----BEGIN ... END----- block).
SSH_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
...
-----END OPENSSH PRIVATE KEY-----"

# Your cluster username.
USERNAME="" # e.g. jan-kowalski

# Cluster login node address.
CLUSTER_ADDRESS="" # e.g. eagle.man.poznan.pl

# ID of service.
SERVICE_ID="" # e.g. pl1234-01